version: "3.8"

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
      # network

  api:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: .
    command: python -u worker.py
    depends_on:
      - redis
